{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
    <div class="container">
        <div class="sidebar">
            <header>
            <nav>
                <ul>
                    <li>
                        <h1>Progress</h1>
                    </li>
                    <li class="side-nav-title">
                        Navigation
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30">
                                <path
                                    d="M240-280h240v-80H240v80Zm120-160h240v-80H360v80Zm120-160h240v-80H480v80ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z" />
                            </svg><a href="#">Timeline</a>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30">
                                <path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z" />
                            </svg><a href="{% url 'list_projects' %}">Projects</a>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30">
                                <path d="m438-240 226-226-58-58-169 169-84-84-57 57 142 142ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z" />
                            </svg><a href="{% url 'show_my_tasks' %}">Tasks</a>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30">
                                <path
                                    d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z" />
                            </svg><a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            </header>
        </div>
    <main>
        <div class="head_menu">
                <li>
                    <form method="post" role="search" action="{% url 'project_search_feature' %}">
                        {% csrf_token %}
                        <input type="search" placeholder="Search Projects..." name="search_query">
                        <button class="button" type="submit">Search</button>
                    </form>
                </li>
                <li>
                    <form method="post" action="{% url 'task_search_feature' %}" role="search">
                        <input type="search" placeholder="Search Tasks..." name="search_query">
                        {% csrf_token %}
                        <button class="button" type="submit">Search</button>
                    </form>
                </li>
                <li>Profile</li>

        </div>
        {% block content %}
        {% endblock content %}
    </main>
    </div>
    </body>
</html>
