{% extends 'base.html' %}

{% block title %}
    My Tasks
{% endblock title %}
{% block content %}

        <div>
            <h1>My Tasks</h1>
            <div>
                <p>
                    <a href="{% url 'create_task' %}">Create a task</a>
                </p>
            </div>
            {% if tasks|length > 0 %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                        <th>Is completed</th>
                    </thead>
                    <tbody>
                        {% for item in tasks %}
                            <tr class="task-item">
                                <td class="task-item"><a href="{% url 'show_task' item.id %}">{{ item.name }}</a></td>
                                <td class="task-item">{{ item.start_date }}</td>
                                <td class="task-item">{{ item.due_date }}</td>
                                <td class="task-item">{{ item.is_completed }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>

{% endblock content %}
